body {
    background-color: black;
    color: white;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
}

body, html {position: fixed;}

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#main {
    overflow: hidden;
    max-height: 100vh;
    width: 100vw;
}

.toolbar {
    height: 14vh;
    width: 100%;
    text-align: center;
    font-size: 120%;
    background-color: #c77dff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.toolbar span {
    cursor: pointer;
}

.toolbar h1 {
    cursor: default;
    width: 75%;
}

#content {
    padding: 10px;
    height: 83vh;
    overflow-y: scroll;
}

.floating-button {
    display:block;
    position: absolute;
    touch-action: manipulation;

    color: white;
    background-color: #c77dff;
    border-radius: 20px;
    height: 8%;
    width: 25%;
    font-size: 100%;
    font-weight: bold;
    border-width: 0px;

    transition: 0.3s ease;
}

.floating-button.active {
    transform: translateY(100px);
}

#add-date {
    top: 87%;
    left: 42%;
}

#generate {
    top: 87%;
    left: 70%;
}

#date-grid {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 20vh;
}

#content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#side-nav {
    height: 100vh; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transform: translateX(-250px);
}

#side-nav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: none;
    background: none;
    min-width: 250px - 8px -23px;
}
  
#side-nav button:hover, #side-nav span:hover {
    color: #f1f1f1;
}

#side-nav div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 5px;
    margin: 10px;
    min-width: 250px - 8px -23px;
    height: 20px;

}

#side-nav .closebtn {
    font-size: 36px;
    padding: 0;
}

#side-nav .back {
    transition: 0.3s;
    color: #818181;
    align-content: center;
}

#openbutton:hover {
    cursor:default;
}

/*DATE BOX*/
.handle:hover {
    cursor: grab;
}

.date {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #240046;
    color: black;
    border-radius: 20px;
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 1px;
}

.date input[type="date"] {
    width: 50%;
    height: 30px;
    background-color: #c77dff;
    border-width: 0;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    color:white;
    font-size: small;
}

.date h4 {
    color: white;
    text-align: center;
    justify-self: center;
    padding: 2px;
    width: 80%;
    border-bottom: 2px solid white;
    margin-bottom: 0;
    margin-top: 0;
}

.date ul {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 20px;
}

.in-name {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 5px;
    width: auto;
}

.date input[type="number"] {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

.date-heading {
    grid-column-start: 1; grid-column-end: 3;
    margin: 10px; 
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.date-heading span {
    width: 30px;
}

.date-heading div {
    width: 100%;
    display: flex;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}

.date-heading div p {
    display: inline;
    color: white; 
    font-weight: bold; 
    font-size: small; 
    text-align: center;
}

.date-heading div input {
    width: 10%;
    text-align: center;
}

.add-preference {
    background: #c77dff;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    align-self: center;
    width: 100%;
}

.single-name {
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 8px;
}

.single-name .in-name {
    width: 80%;
    text-align: center;
    vertical-align: middle;
    height: auto;
}

.single-name input {
    font-size: normal;
    margin: 0;
}

.single-name span {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    transition: 0.3s;
}

.single-name span:hover {
    background-color: red;
}

/*OUTPUT*/
#output {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
}

#output-code {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    height: 85vh;
    padding-bottom: 20vh;
}

#output-code::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.output-date {
    margin: 3%;
    padding: 5%;
    border-color: white;
    border-width: 4px;
    border-radius: 20px;
    border-style: solid;
}

.output-date h1 {
    margin-top: 2px;
    border-bottom: 2px solid white
}

.name-space {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.name-space p {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
}

/*DELETE ZONE*/
#delete-zone {
    position: absolute;
    left: 10%;
    top: 75%;
    width: 80%;
    background-color: rgba(255, 0, 0, 0.5);
    height: 20vh;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(230px);
}

#delete-zone.active{
    transition: 0.6s ease;
    transform: translateY(0);
}

#delete-zone div:first-child {
    width: 95%;
    height: 87%;
    border-radius: 20px;
    border: 6px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#delete-zone div ul:nth-child(2) {
    position: absolute;
    width: 95%;
    height: 80%;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

#delete-zone li {
    padding: 0;
    margin: 0;
}

#delete-zone li .date {
    height: 100%;
    width: 100%;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 1px;
    padding: 0;
    margin: 0;
    scale: 60%;
}

#delete-zone li .date * {
    border: none;
}

/*FILE DIALOG*/
#choose-file-dialog {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    align-items: center;
    justify-content: center;
}

#choose-file-dialog div {
    height: 7vh;
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.6s ease;
}

#choose-file-dialog div input {
    display: none;
}

#choose-file-dialog div label {
    font-size: larger; 
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

#choose-file-dialog div label p {
    text-align: center;
}

#choose-file-dialog div:hover {
    transform: scale(1.1);
}

/*NAMES LIST*/
#names-list {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    color: black;
}

#names-list div {
    background-color: white;
    border-radius: 20px;
    width: 70%;
    max-height: 80%;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#names-list div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#names-list div div:first-child {
    display: flex;
    width: 94%;
    justify-content: space-between;
}

#names-list div div span:nth-child(2) {
    color: green;
}

#names-list div div:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto 10%;
    width: 94%;
}

#names-list div div:nth-child(2) span {
    color: red;
    font-weight: bold;
    text-align: end;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.fqlgEG-l {
    background-color: red;
    border-radius: 100%;
    aspect-ratio: 1;
    align-self: center;
    text-align: center;
    font-size: larger;
    line-height: 150%;
    font-weight: 900;
    color: white;
    width: 100%;
    border: none;
}
